* {
	font-family: sans-serif;
	font-size: 14px;
}

html, body {
	margin: 0; padding: 0;
	width: 100%; height: 100%;
	background-color: #222;
	overflow: hidden;
}

canvas {
	width: 100%; height: 100%;
	margin: 0; padding: 0;
}
.leaderboardWindow {
    position: absolute;
    width: 300px;
    background: rgba(255, 255, 255, 0.7);
    top:0px;
    bottom: 0px;
    left: 0px;
    pointer-events: none;
}

.leaderboardWindow .leaderboardWindowList {
    padding: 5px;
    height: 100%;
    margin: 0;
    bottom: 20px;
    list-style: none;
    box-sizing: border-box;
}

.chatWindow {
    position: absolute;
    
    width: 300px;
    background: rgba(255, 255, 255, 0.7);
    top:0px;
    bottom: 0px;
    right: 0px;
    pointer-events: none;
}

.chatWindow .chatWindowList {
    padding: 5px;
    height: 95%;
    margin: 0;
    bottom: 20px;
    list-style: none;
    box-sizing: border-box;
    overflow-y: scroll;
}

.chatWindow .chatWindowInput {
	position: absolute;
    pointer-events: all;
    box-sizing: border-box;
    width: 100%;
    padding: 8px;
    background: transparent;
    border: none;
    bottom: 0px;
    border-top: 1px solid #DDD;
    outline: none;
}

#startMenu {
	margin:auto;
	margin-top:100px;
	width: 350px;
	padding: 20px;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	background-color: white;
	box-sizing: border-box;
}

#startMenu p {
	padding: 0;
	text-align:center;
	font-size: x-large;
	font-weight: bold;
}

#playerNameInput {
	width: 100%;
	text-align: center;
	padding: 10px;
	border: solid 1px #dcdcdc;
	transition: box-shadow 0.3s, border 0.3s;
	box-sizing: border-box;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	margin-bottom: 10px;
	outline: none;
}

#playerColorInput {
	width: 100%;
	text-align: center;
	padding: 10px;
	border: solid 1px #dcdcdc;
	transition: box-shadow 0.3s, border 0.3s;
	box-sizing: border-box;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	margin-bottom: 10px;
	outline: none;
}

#playerNameInput:focus, #playerNameInput.focus {
	border: solid 1px #CCCCCC;
	box-shadow: 0 0 3px 1px #DDDDDD;
}

#startButton {
	position: relative;
	margin: auto;
	margin-top: 10px;
	width: 100%;
	height: 40px;
	box-sizing: border-box;
	font-size: large;
	color: white;
	text-align: center;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
	background: #2ecc71;
	border: 0;
	cursor: pointer;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	margin-bottom: 10px;
}

#startButton:active, #startButton:hover {
	top: 1px;
	background: #55D88B;
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

#startButton:disabled {
	top: 1px;
	background: #AAAAAA;
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

#startMenu h3 {
	padding-bottom: 0;
	margin-bottom: 0;
}

#startMenu ul {
	margin: 10px; padding: 10px;
	margin-top: 0;
}

#startMenu .input-error {
  color : red;
  display: none;
  font-size : 12px;
}

#startMenu .error-display {
  color : red;
  display: none;
  font-size : 16px;
}
